@model List<Injury>

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            @* Goes back to the home page*@
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
            @* shows the user that they are currently at saved workouts page *@
            <li class="breadcrumb-item active" aria-current="page">Create Workout</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body bg-info-subtle">
        <h4 class="card-title"> Create your Workout</h4>


        <form class="row g-3 needs-validation" method="post" action="@Url.Action("Create", "Workout")" noValidate>

            @* Injury 1 *@
            <div class="card-body">
                Select your first injury
            </div>
            @*Allows users to select from their current injuries*@
            @*Adding 'name' attributes to select elements in WorkoutController*@
            <select class="form-select" aria-label="Injury1" name="Injury1">
                <option value="0" selected>None</option>
                @{
                    foreach (var injury in Model)
                    {
                        // pass the injury by id
                        <option value="@injury.Id">@injury.Name</option>

                    }
                }
            </select>


@*--------------------------------------------------------------------------------------------------------------------*@


            @* Injury 2 *@
            <div class="card-body">
                Select your Second injury
            </div>
            @*Allows users to select from their current injuries*@
            @*Adding 'name' attributes to select elements in WorkoutController*@
            <select class="form-select" aria-label="Injury2" name="Injury2">
                <option value="0" selected>None</option>
                @{
                    foreach (var injury in Model)
                    {
                        // pass the injury by id
                        <option value="@injury.Id">@injury.Name</option>

                    }
                }
            </select>

@*--------------------------------------------------------------------------------------------------------------------*@

            @* Injury 3 *@
            <div class="card-body">
                Select your Third injury
            </div>
            @*Allows users to select from their current injuries*@
            @*Adding 'name' attributes to select elements in WorkoutController*@
            <select class="form-select" aria-label="Injury3" name="Injury3">
                <option value="0" selected>None</option>
                @{
                    foreach (var injury in Model)
                    {
                        <option value="@injury.Id">@injury.Name</option>

                    }
                }
            </select>

@*--------------------------------------------------------------------------------------------------------------------*@

            @* Injury 4 *@
            <div class="card-body">
                Select your Fourth injury
            </div>
            @*Allows users to select from their current injuries*@
            @*Adding 'name' attributes to select elements in WorkoutController*@
            <select class="form-select" aria-label="Injury4" name="Injury4">
                <option value="0" selected>None</option>
                @{
                    foreach (var injury in Model)
                    {
                        <option value="@injury.Id">@injury.Name</option>

                    }
                }
            </select>


@*--------------------------------------------------------------------------------------------------------------------*@

            @* Injury 5 *@
            <div class="card-body">
                Select your Fifth injury
            </div>
            @*Allows users to select from their current injuries*@
            @*Adding 'name' attributes to select elements in WorkoutController*@
            <select class="form-select" aria-label="Injury5" name="Injury5">
                <option value="0" selected>None</option>
                @{
                    foreach (var injury in Model)
                    {
                        <option value="@injury.Id">@injury.Name</option>

                    }
                }
            </select>

@*--------------------------------------------------------------------------------------------------------------------*@

            @* Injury 6 *@
            <div class="card-body">
                Select your Sixth injury
            </div>
            @*Allows users to select from their current injuries*@
            @*Adding 'name' attributes to select elements in WorkoutController*@
            <select class="form-select" aria-label="Injury6" name="Injury6">
                <option value="0" selected>None</option>
                @{
                    foreach (var injury in Model)
                    {
                        <option value="@injury.Id">@injury.Name</option>

                    }
                }
            </select>

@*--------------------------------------------------------------------------------------------------------------------*@

            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>